<component name="ArtifactManager">
  <artifact type="war" name="springbootwebapp:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-boot-webapp-0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springbootwebapp:war exploded" />
    </root>
  </artifact>
</component>